html{
    font-size: 62.5%;

}
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgba(161, 99, 16, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(160, 76, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .container__caja1{
    width: 40rem;
    height: 50rem;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    justify-content: center;

 
}
.container .container__caja1 .container__caja2{
    width: 30rem;
    height: 10rem;
    background-color: red;
    position: relative;
    bottom: 4rem;
    border: solid black 1px;
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
